@font-face {
  font-family: "CoreCircus2DDot1";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf")
      format("truetype");
}
@font-face {
  font-family: "CoreCircus";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2")
      format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf")
      format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --secondary-color: #151226; */
  --secondary-color: #141e30;
  --contrast-color: radial-gradient(
    ellipse at bottom,
    #1b2735 0%,
    #090a0f 100%
  );
}

body {
  background-color: #000000;
  /* background: linear-gradient(to right, #24243e, #141e30, #0f0c29); */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  background-color: var(--contrast-color);
}

.header {
  background-color: var(--contrast-color);
}

.main_container {
  width: 90%;
  max-width: 120rem;
  margin: auto;
  display: flex;
  align-items: center;
  height: 77vh;
  color: rgb(0, 0, 0);
  background-color: var(--secondary-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  animation: expand 0.8s ease forwards;
  transition: all 0.8s ease;
  background-color: #fc0;
}

.container_content_inner {
  margin: 60px auto;
  text-align: justify;
}

.container_outer_img {
  max-width: 40rem;
  margin: 60px 30px;
  padding-left: 40px;
  text-align: center;
}

.container_img {
  text-align: center;
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par {
  height: auto;
  overflow: hidden;
}

.par > p {
  font-size: 20px;
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
}

.title > h1 {
  font-size: 70px;
  color: var(--contrast-color);
  transform: translateY(100px);
  font-family: "CoreCircus", sans-serif;
  animation: slideUp 0.8s ease forwards 0.5s;
  letter-spacing: -5px;
}

h1 {
  font-size: 50px;
  color: var(--contrast-color);
  margin-bottom: 20px;
  /* transform: translateY(100px); */
  /* animation: slideUp 0.8s ease forwards 0.5s; */
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.bgColor {
  background-color: #fc0;
}

.headerstyle {
  display: flex;
  align-items: center;
  padding: 20px;
}

.headerstyle > h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: "CoreCircus", sans-serif;
  letter-spacing: -5;
  /* animation: slideUp 0.8s ease forwards 0.5s;
  transform: translateY(100px); */
}

.footerText {
  font-family: "CoreCircus", sans-serif;
  font-size: 8px;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.container__profileCard {
  height: 300px;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  /* box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3); */
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}

.container__profileCard:hover {
  height: 470px;
  width: 350px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container__profileCard .wrapper img {
  /* position: relative; */
  z-index: 20;
  border-radius: 50%;
  height: 250px;
  width: 200px;
  border: 5px solid #fff;
  /* object-fit: contain; */
  margin-top: 25px;
  transition: all 0.3s ease;
}

.container__profileCard:hover .wrapper img.active {
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}

.wrapper .title {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  margin-top: 20px;
  line-height: 25px;
}

.wrapper .place {
  color: #fff;
  font-size: 17px;
  margin: 10px 0;
  line-height: 8px;
}

.content {
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px;
}

.whoIAm {
  height: 100vh;
  display: flex;
  width: 90%;
  max-width: 120rem;
  margin: auto;
}

.cardAvatar > img {
  z-index: 100;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  padding: 2px;
}

.cardAvatar {
  text-align: right;
  margin-right: 30px;
}

.edu {
  color: white;
}

@media screen and (max-width: 670px) {
  .title > h1 {
    font-size: 50px;
    text-align: center;
  }

  .par > p {
    text-align: center;
  }

  .main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
