:root {
  --base-color: rgb(255, 187, 0);
  --hover-color: rgba(255, 255, 255, 1);
}

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
  border: 4px solid var(--base-color);
  font-size: 1rem;
  cursor: pointer;
}
.horizontal > .text {
  position: relative;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--hover-color) 0%,
    var(--hover-color) 50%,
    var(--base-color) 50%,
    var(--base-color) 100%
  );
  background-repeat: repeat;
  background-size: 200%;
  font-size: 20px;
  font-family: "CoreCircus", sans-serif;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background-position 300ms;
}
.horizontal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--base-color);
  transform-origin: 100% 0;
  transform: scale3d(0, 1, 1);
  transition: transform 300ms;
}
.horizontal:hover .text {
  background-position: 0 0;
}
.horizontal:hover::before {
  transform-origin: 0 0;
  transform: scale3d(1, 1, 1);
}

@media only screen and (max-width: 600px) {
  .subHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .subHeading a {
    margin-top: 250px;
  }

  .horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px;
    height: 50px;
    margin-top: 20px;
    border: 4px solid var(--base-color);
    font-size: 1rem;
    cursor: pointer;
  }
}

.btnAnimate {
  opacity: 0;
  font-size: 18px;
  color: #1f1e1e;
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 4px;
}

.btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 80px;
  height: 30px;
  background-color: #eeeeed;
  border-radius: 80px;
  padding: 0 18px;
  will-change: transform;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn_wrap:hover {
  transition-delay: .4s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.demoBtn {
  position: absolute;
  z-index: 99;
  /* width: 80px;
  height: 35px; */
  border-radius: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 2px;
  color: #000000;
  background-color: #fc0;
  padding: 0 18px;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* width: 70px;
  height: 34px; */
  /* border-radius: 80px; */
}

.btnGroup i:nth-of-type(1) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

.btnGroup i:nth-of-type(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

.btnGroup i:nth-of-type(3) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

.btnGroup i:nth-of-type(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.btn_wrap:hover span {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transform: translateX(-280px);
  transform: translateX(-280px);
}

.btn_wrap:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* .dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
} */
