.containerSkill {
  display: flex;
  padding: 10px;
}

.skillSection1 {
  width: 400px;
  margin: 15px;
}

.skillSection2 {
  width: 400px;
  margin: 15px;
}

.skills {
  background-color: #fc0;
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 120rem;
  margin: 60px auto;
}

.skill {
  display: flex;
  align-items: center;
  min-width: 300px;
  /* padding: 20px; */
}

.skill__img > img {
  object-fit: contain;
  height: 60px;
  width: 50px;
  margin-right: 10px;
}

@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  background-color: rgb(11, 1, 22);
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #fff;
  font-family: Righteous;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  min-width: 350px;
}
.bar::before {
  content: attr(data-skill);
  background-color: #756213;
  background-image: linear-gradient(315deg, #bb9b1b 24%, #000000 54%);

  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.learning::before {
  width: calc(58% - 10px);
}
.bar.basic::before {
  width: calc(70% - 10px);
}
.bar.intermediate::before {
  width: calc(85% - 10px);
}
.bar.intermediate.less::before {
  width: calc(78% - 10px);
}
.bar.advanced::before {
  width: calc(90% - 10px);
}

@media screen and (max-width: 1300px) {
  .skills {
    display: flex;
    flex-direction: column;
  }

  .containerSkill {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
